* {
    margin: 0; padding: 0;
}



.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    box-sizing: border-box;
    max-width: 1330px;
    margin: 0 auto;
    border-bottom: 5px solid black;
    font-family: 'Montserrat', sans-serif;
    color:rgb(19, 71, 182);
    font-size: 20px;
    line-height: 28px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 94px;
}

.menu li a {
    color: #252B42 ;
    text-decoration: none;
}
.menu li a:hover{
    color:#FA4A0C;
}
.begin {
    padding: 15px;
}
main {
    margin: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-gap: 30px;
    justify-content: center;
  

}

.item{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    justify-items: start;
}

.item {
    font-size: 20px;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

.item_2 {
background-image: url(../images/Sunrises_and_sunsets_469716.jpg);
height: 500px;
}

.item_3 {
    background-image: url(../images/hotel.jpg);
}

.item_4 {
    background-image: url(../images/viza.jpg);
    
}


